# rename file to ".env" and change logins
NODE_ENV=production

# resonite
resoniteUsername="thatBoi" # username, not userId
resonitePassword="myVerySecurePassword"
resoniteMachineId="71636566c148ebb5476a392eb9d008943320fdb877edf8035c8accd14b30bb55" # a random UUIDv4: https://wiki.resonite.com/API

# oxibooru
oxibooruInstance="https://oxibooru.example.com"
oxibooruUser="thatBoi"
oxibooruToken="tokenThingy" # can be generated with oxibooru web-frontend